.help-content {
  padding: 5px 8px;

  .img {
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px rgb(107 153 255 / 51%);
  }

  p {
    color: #585858;

    a {
      color: #7189fe;
      text-decoration: none;
    }
  }
}
