<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            {{'SETTING' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>{{'SERIAL_PORT_CONFIGURATION' | translate}}</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label color="primary" position="stacked">{{'BAUD_RATE' | translate}}</ion-label>
            <ion-input type="number" placeholder="{{'DEFAULT' | translate}}9600" [(ngModel)]="config.baudRate">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">{{'DATA_BITS' | translate}}</ion-label>
            <ion-input type="number" placeholder="{{'DEFAULT' | translate}}8" [(ngModel)]="config.dataBits"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">{{'STOP_BITS' | translate}}</ion-label>
            <ion-input type="number" placeholder="{{'DEFAULT' | translate}}1" [(ngModel)]="config.stopBits"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" position="stacked">{{'PARITY' | translate}}</ion-label>
            <ion-input type="number" placeholder="{{'DEFAULT' | translate}}0" [(ngModel)]="config.parity"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button class="btn-class" expand="block" (click)="setSerialPortConfig()">{{'SAVE_SERIAL_PORT_CONFIGURATION' |
        translate}}</ion-button>
    <ion-list>
        <ion-list-header>
            <ion-label>{{'COLOR_CONFIGURATION' | translate}}</ion-label>
        </ion-list-header>
        <ion-item lines="full">
            <ion-label color="primary" position="stacked">{{'CLICK_THE_COLOR_BELOW_TO_SWITCH_THE_BACKGROUND' |
                translate}}</ion-label>
            <ion-row style="width: 100%;">
                <ng-container *ngFor="let item of colorList">
                    <ion-col size="1" [class]="'color '+ item" (click)="setBackgroundColor(item)"></ion-col>
                </ng-container>

            </ion-row>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            <ion-label>{{'LANGUAGE_CONFIGURATION' | translate}}</ion-label>
        </ion-list-header>
        <ion-item lines="full">
            <ion-label>{{'LANGUAGE' | translate}}</ion-label>
            <ion-select interface="popover" [(ngModel)]="lang" cancelText="{{'CANCEL' | translate}}"
                okText="{{'CONFIRM' | translate}}" (ionChange)="setLanguage()">
                <ion-select-option value="zh">中文</ion-select-option>
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="fr">français</ion-select-option>
                <ion-select-option value="de">Deutsche</ion-select-option>
                <ion-select-option value="it">Italia</ion-select-option>
                <ion-select-option value="ja">日本</ion-select-option>
                <ion-select-option value="ko">한국어</ion-select-option>
                <ion-select-option value="ru">Россия</ion-select-option>
                <ion-select-option value="th">ประเทศไทย</ion-select-option>
                <ion-select-option value="vi">Tiếng Việt</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <div class="ion-text-center version">{{'VERSION' | translate}}: {{version}}</div>
    </ion-toolbar>
</ion-footer>